.user-info-container {
  width: 100%;
  max-height: 35%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 100px;
  gap: 60px;
}

.User-photo {
  height: 130px;
  width: 125px;
  border-radius: 50%;
  margin-right: 1rem;
}


.skeleton-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 1rem;
}

.skeleton-info {
  display: flex;
  flex-direction: column;
}

.skeleton-name {
  height: 28px;
  width: 200px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.skeleton-username {
  height: 24px;
  width: 100px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.skeleton-biography {
  height: 22px;
  width: 300px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.skeleton-location {
  height: 22px;
  width: 150px;
  background-color: #ccc;
}

.skeleton-avatar,
.skeleton-name,
.skeleton-username,
.skeleton-biography,
.skeleton-location {
  animation: pulse 0.9s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #eee; /* Color de fondo inicial */
  }
  100% {
    background-color: #ccc; /* Color de fondo final */
  }
}
