.modal-open {
  position: relative;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.dragFile {
  width: 100% !important;
  height: 100% !important;
  border: 2px solid lightgray !important;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1075px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
