.card-container-profile {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 40px 80px;
}



@media (max-width: 1485px) {
  .card-container-profile {
    grid-template-columns: repeat(2, 1fr);
  }
}

 @media (max-width: 1024px) {
  .card-container-profile {
    grid-template-columns: repeat(1, 1fr);
  }
} 
